* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    line-height: 1.5;
    max-width: 960px;
    background: white;
    margin: 0 auto;
    background-image: url('./material/hotel-receptionist-work.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 }

 form {
    padding: 5px;
    width: 66.6667%;
    float: left;
 }
 fieldset {
    margin-bottom: 5px;
    position: relative;
    padding: 10px;
    background: #ebd72b;
 }
 legend {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
     margin: 0;
  }
